{{#if user}}
    <h1 class="page-header">Hello {{user.username}}</h1>
    <a class="btn btn-primary" href="/logout">Logout</a>

    {{#each githubRepos}}
        <div class="row">
            <div class="panel">
                <div class="panel-heading">
                    <a class="" href="{{html_url}}"><h2>{{name}}</h2></a>
                    <h2>{{description}}</h2>
                </div>
                <div class="panel-body">
                    <span>{{created_at}}</span>
                </div>
            </div>
        </div>
    {{else}}
        <h2>No repos</h2>
    {{/each}}

{{else}}
    <div class="row">
        <div class="col-xs-10">
            <h1 class="page-header">Electron app with express middleware</h1>
        </div>
        <div class="col-xs-2"><a class="btn btn-success pull-right" href="/login">Login</a></div>
    </div>

    <div class="panel panel-warning">
        <div class="panel-heading">Sample functions</div>
        <div class="panel-body">
            <div class="lead">
                Open <a href="https://google.com">external link</a> in browser
            </div>
            
            <div class="lead">
                <button id="basic" class="btn btn-default">Basic Notification</button>
                <span>Basic notification: default icon, title, and message. </span>
            </div>
            
            <div class="lead">
                <button id="image" class="btn btn-default">Image Notification</button>
                <span>Image notification: icon, title, image, and message.(Only available on OS X Yosemite)</span>
            </div>

            <div class="lead">
                <button id="new-window" class="btn btn-default">Create window</button>
                <span>Create a new browser window</span>
            </div>

            <div class="lead">
                <button id="manage-window" class="btn btn-default">Manage window</button>
                <span id="manage-window-reply">Modal window size and position</span>
            </div>

            <div class="lead">
                <button id="frameless-window" class="btn btn-default">Frameless window</button>
                <span>This is a window that has no "chrome", such as toolbar, title bar, status bar, etc...</span>
            </div>

            <div class="lead">
                <button id="show-in-folder" class="btn btn-default">Show in folder</button>
                <span>This is a window that has no "chrome", such as toolbar, title bar, status bar, etc...</span>
            </div>

            <div class="lead">
                <button id="open-file" class="btn btn-default">Open-file</button> <button id="open-file-sheet" class="btn btn-default">Open-file-sheet (only Mac)</button>
                <span>This is my selected file: <strong id="selected-file"></strong></span>
            </div>
        </div>
    </div>

    <script>
        var path = require('path')
        require(path.join(process.cwd()) + '/public/js/main')
        require(path.join(process.cwd()) + '/public/js/createWindow')
        require(path.join(process.cwd()) + '/public/js/manageWindow')
        require(path.join(process.cwd()) + '/public/js/createFramelessWindow')
        require(path.join(process.cwd()) + '/public/js/showInFolder')
        require(path.join(process.cwd()) + '/public/js/openFile')


    </script>
{{/if}}


